body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    max-width: 400px;
    margin: 50px auto 0 20%;
    text-align: left;
}

form {
    max-width: 400px;
    margin: 50px auto 0 20%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    margin-bottom: 10px;
}

.forgot-password,
.create-account,
.already-have-account {
    text-align: left;
    margin-top: 10px;
    margin-left: 0; /* Adjusted to 0 for alignment with the form */
}

.forgot-password a,
.create-account a,
.already-have-account a {
    color: black;
    text-decoration: underline;
}
